
{% extends "layout.html" %}


{% block content %}
<br><br><br><br><br>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav affix">
				<li class="active">
					<a>
						<i>操作</i>
					</a>
				</li>
				<li >
					<a href="/addblog">
						<i>添加新随笔</i>
					</a>
				</li>
				<li>
					<a href="/mod">
						<i>草稿箱</i>
					</a>
				</li>
			</ul>
		</div>

		<div class="span9">
			<form action="{{ url_for('add_blog') }}" method="POST">
				<label>标题：</label>
				<input type="text" size=30 name="title" style="width: 450px;">
				<label>正文：</label>
				<textarea rows=20 name="text" cols=40 style="width: 450px;"></textarea><br>
				<input type="submit" value="果断提交" name="commit">
			</form>
		</div>
	</div>
</div>


{% endblock %}